<!DOCTYPE html>
<html>
  <head>
    <title>Proyecto I - Horario</title>
    <p class = title1>Smart_hours.</p>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
    <link rel="stylesheet" href="//code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css">
    <link rel = "stylesheet" type = "text/css" href = "../static/css/style.css" />
  </head>


</head>
<!-- HEADER OK-->
<body bgcolor = #F3CA24>

  <link rel="stylesheet" type="text/css" href="../static/css/DPS.css">
  <p class = observations2> Por favor, introduce las asignaturas que estés matriculado.</p>

  <div id="myDIV" class="header">
    <p class="title2" style="margin:5px">Asignaturas deseadas</p>
    <form action="/cursadas" method="post">
      <p class = observations>Escoge el rendimiento que desees.</p>
      <div class="wrapper">
	<select name="rend">
  	  <option value="min" >Mínimo </option>
  	  <option value="med">Medio</option>
  	  <option value="max" >Máximo</option>
  	  <option value="man" >Manual</option>
	</select>
      </div>

      <br>
      <input type="checkbox" name="check_list[]" value="Álgebra Lineal">Álgebra Lineal
      <br>
      <br>
      <input type="checkbox" name="check_list[]" value="Cálculo I">Cálculo I
      <br>
      <br>
      <input type="checkbox" name="check_list[]" value="Mecánica Fundamental">Mecánica Fundamental
      <br>
      <br>
      <input type="checkbox" name="check_list[]" value="Química I">Química I
      <br>
      <br>
      <input type="checkbox" name="check_list[]" value="Fundamentos de Informática">Fundamentos de Informática
      <br>
      <br>
      <input type="checkbox" name="check_list[]" value="Geometría">Geometría
      <br>
      <br>
      <input type="checkbox" name="check_list[]" value="Cálculo II">Cálculo II
      <br>
      <br>
      <input type="checkbox" name="check_list[]" value="Termodinámica Fundamental">Termodinámica Fundamental
      <br>
      <br>
      <input type="checkbox" name="check_list[]" value="Química II">Química II
      <br>
      <br>
      <input type="checkbox" name="check_list[]" value="Expresión Gráfica">Expresión Gráfica
      <br>
      <br>
      <input type="checkbox" name="check_list[]" value="Electromagnetismo">Electromagnetismo
      <br>
      <br>
      <input type="checkbox" name="check_list[]" value="Métodos Numéricos">Métodos Numéricos
      <br>
      <br>
      <input type="checkbox" name="check_list[]" value="Materiales">Materiales
      <br>
      <br>
      <input type="checkbox" name="check_list[]" value="Economía y Empresa">Economía y Empresa
      <br>
      <br>
      <input type="checkbox" name="check_list[]" value="Estadística">Estadística
      <br>
      <br>
      <input type="checkbox" name="check_list[]" value="Dinámica de Sistemas">Dinámica de Sistemas
      <br>
      <br>
      <input type="checkbox" name="check_list[]" value="Proyecto I">Proyecto I
      <br>
      <br>
      <input type="checkbox" name="check_list[]" value="Tecnología del Medio Ambiente y Sostenibilidad">Tecnología del Medio Ambiente y Sostenibilidad
      <br>
      <br>
      <input type="checkbox" name="check_list[]" value="Termodinámica">Termodinámica
      <br>
      <br>
      <input type="checkbox" name="check_list[]" value="Electrotecnia">Electrotecnia
      <br>
      <br>
      <input type="checkbox" name="check_list[]" value="Mecánica de los Medios Continuos">Mecánica de los Medios Continuos
      <br>
      <br>
      <input type="checkbox" name="check_list[]" value="Técnicas Estadísticas para la Calidad">Técnicas Estadísticas para la Calidad
      <br>
      <br>
      <input type="checkbox" name="check_list[]" value="Mecánica de Fluidos">Mecánica de Fluidos
      <br>
      <br>
      <input type="checkbox" name="check_list[]" value="Organización y Gestión">Organización y Gestión
      <br>
      <br>
      <input type="checkbox" name="check_list[]" value="Resistencia de Materiales">Resistencia de Materiales
      <br>
      <br>
      <input type="checkbox" name="check_list[]" value="Proyecto II">Proyecto II
      <br>
      <br>
      <input type="checkbox" name="check_list[]" value="Gestión de Proyectos">Gestión de Proyectos
      <br>
      <br>
      <input type="checkbox" name="check_list[]" value="Electrónica">Electrónica
      <br>
      <br>
      <input type="checkbox" name="check_list[]" value="Sistemas de Fabricación">Sistemas de Fabricación
      <br>
      <br>
      <input type="checkbox" name="check_list[]" value="Ecuaciones Diferenciales">Ecuaciones Diferenciales
      <br>
      <br>
      <input type="checkbox" name="check_list[]" value="Informática">Informática
      <br>
      <br>
      <input type="checkbox" name="check_list[]" value="Mecánica">Mecánica
      <br>
      <br>
      <input type="checkbox" name="check_list[]" value="Teoría de Máquinas y Mecanismos">Teoría de Máquinas y Mecanismos
      <br>
      <br>
      <input type="checkbox" name="check_list[]" value="Tecnología y Selección de Materiales">Tecnología y Selección de Materiales
      <br>
      <br>
      <input type="checkbox" name="check_list[]" value="Máquinas Eléctricas">Máquinas Eléctricas
      <br>
      <br>
      <input type="checkbox" name="check_list[]" value="Optimización y Simulación">Optimización y Simulación
      <br>
      <br>
      <input type="checkbox" name="check_list[]" value="Termotecnia">Termotecnia
      <br>
      <br>
      <input type="checkbox" name="check_list[]" value="Control Automático">Control Automático
      <br>
      <br>
      <input type="checkbox" name="check_list[]" value="Ampliación de Mecánica">Ampliación de Mecánica
      <br>
      <br>
      <input type="checkbox" name="check_list[]" value="Comunicación de Información Técnica">Comunicación de Información Técnica
      <br>
      <br>
      <input type="checkbox" name="check_list[]" value="Debates Sobre Tecnología y Sociedad">Debates Sobre Tecnología y Sociedad
      <br>
      <br>
      <input type="checkbox" name="check_list[]" value="Los Orígenes de la Ingeniería Moderna">Los Orígenes de la Ingeniería Moderna
      <br>
      <br>
      <input type="checkbox" name="check_list[]" value="Juegos para Computadores. Estructura y Desarrollo">Juegos para Computadores. Estructura y Desarrollo
      <br>
      <br>
      <input type="checkbox" name="check_list[]" value="Taller Eléctrico">Taller Eléctrico
      <br>
      <br>
      <input type="checkbox" name="check_list[]" value="Tecnología de la Luz">Tecnología de la Luz
      <br>
      <br>
      <input type="checkbox" name="check_list[]" value="Tecnologías Digitales para la Comunicación de los Proyectos">Tecnologías Digitales para la Comunicación de los Proyectos
      <br>
      <br>
      <input type="checkbox" name="check_list[]" value="Historia de la Ingeniería Industrial. La Escuela de Barcelona">Historia de la Ingeniería Industrial. La Escuela de Barcelona
      <br>
      <br>
      <input type="checkbox" name="check_list[]" value="Ampliación de Química">Ampliación de Química
      <br>
      <br>
      <input type="checkbox" name="check_list[]" value="Rehabilitación y Eficiencia Energética en la Edificación">Rehabilitación y Eficiencia Energética en la Edificación
      <br>
      <br>
      <input type="checkbox" name="check_list[]" value="Movilidad Eléctrica">Movilidad Eléctrica
      <br>
      <br>
      <input type="checkbox" name="check_list[]" value="Desarrollo de Aplicaciones Basadas en Microcontroladores">Desarrollo de Aplicaciones Basadas en Microcontroladores
      <br>
      <br>
      <input type="checkbox" name="check_list[]" value="Taller Electrónico">Taller Electrónico
      <br>
      <br>
      <input type="checkbox" name="check_list[]" value="Sistemas Mecánicos">Sistemas Mecánicos
      <br>
      <br>
      <input type="checkbox" name="check_list[]" value="Vehículos">Vehículos
      <br>
      <br>
      <input type="checkbox" name="check_list[]" value="Desarrollo Tecnológico y Científico en la Antigüedad. Egipto y Oriente Próximo">Desarrollo Tecnológico y Científico en la Antigüedad. Egipto y Oriente Próximo
      <br>
      <br>
      <input type="checkbox" name="check_list[]" value="Análisis de Datos para la Industria y los Servicios">Análisis de Datos para la Industria y los Servicios
      <br>
      <br>
      <input type="checkbox" name="check_list[]" value="Fusión Nuclear. Iter">Fusión Nuclear. Iter
      <br>
      <br>
      <input type="checkbox" name="check_list[]" value="Logística Control de Flotas y Sig">Logística Control de Flotas y Sig
      <br>
      <br>
      <input type="checkbox" name="check_list[]" value="La Historia de la Matemática Aplicada en la Ingeniería">La Historia de la Matemática Aplicada en la Ingeniería
      <br>
      <br>
      <input type="checkbox" name="check_list[]" value="Albert Einstein y la Ciencia y la Técnica del Siglo XX">Albert Einstein y la Ciencia y la Técnica del Siglo XX
      <br>
      <br>
      <input type="checkbox" name="check_list[]" value="Cultura Tecnología e Historia en China y Japón">Cultura Tecnología e Historia en China y Japón
      <br>
      <br>
      <input type="checkbox" name="check_list[]" value="Ingeniería Industria y Sociedad">Ingeniería Industria y Sociedad
      <br>
      <br>
      <input type="checkbox" name="check_list[]" value="Dinámica Computacional de Fluidos">Dinámica Computacional de Fluidos
      <br>
      <br>
      <input type="checkbox" name="check_list[]" value="Sistemas de Distribución de Tuberías">Sistemas de Distribución de Tuberías
      <br>
      <br>
      <input type="checkbox" name="check_list[]" value="Sistemas de Gestión">Sistemas de Gestión
      <br>
      <br>
      <input type="checkbox" name="check_list[]" value="Ampliación de Resistencia de Materiales">Ampliación de Resistencia de Materiales
      <br>
      <br>
      <input type="checkbox" name="check_list[]" value="Análisis de Componentes Estructurales y Mecánicos para el MEF">Análisis de Componentes Estructurales y Mecánicos para el MEF
      <br>
      <br>
      <input type="checkbox" name="check_list[]" value="La Robótica en la Ingeniería">La Robótica en la Ingeniería
      <br>
      <br>
      <input type="checkbox" name="check_list[]" value="Tecnología Ferroviaria">Tecnología Ferroviaria
      <br>
      <br>
      <input type="checkbox" name="check_list[]" value="Polímeros en la Industria">Polímeros en la Industria
      <br>
      <br>
      <input type="checkbox" name="check_list[]" value="Técnicas de Ensayos No Destructivos Industriales">Técnicas de Ensayos No Destructivos Industriales
      <br>
      <br>
      <input type="checkbox" name="check_list[]" value="Comunicación Oral en Inglés Académico y Profesional">Comunicación Oral en Inglés Académico y Profesional
      <br>

      <?php
	if(!empty($_POST['check_list'])) {
	foreach($_POST['check_list'] as $check) {
        echo $check; //echoes the value set in the HTML form for each checked checkbox.
        //so, if I were to check 1, 3, and 5 it would echo value 1, value 3, value 5.
        //in your case, it would echo whatever $row['Report ID'] is equivalent to.
	}
	}
	>


      <div
	class="wrapper"> <button type="submit"> SIGUIENTE PÁGINA </button>
      </div>
    </form>
  </div>
  
  <button onclick="javascript:history.go(-1)";>Go Back</button>
  <script src="https://code.jquery.com/jquery-1.12.4.js"></script>
  <script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>
  <script src="../static/javascript/jquery.min.js"></script>
</body>
</html>
