<!DOCTYPE html>
<html>
  <head>
    <title>Proyecto I - Horario</title>
    <p class = title1>Smart_hours.</p>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
    <link rel="stylesheet" href="//code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css">
    <link rel = "stylesheet" type = "text/css" href = "../static/style.css" />
  </head>


	<body>
		<p class="title2">Asignaturas matriculadas</p>
    	<form action="/cursadas" method="post">
			<input type="checkbox" name="check_list[]" value="Álgebra Lineal">Álgebra Lineal<br>
			<input type="checkbox" name="check_list[]" value="Cálculo I">Cálculo I<br>
			<input type="checkbox" name="check_list[]" value="Mecánica Fundamental">Mecánica Fundamental<br>
			<input type="checkbox" name="check_list[]" value="Química I">Química I<br>
      	</form>
	</body>
</html>