<!DOCTYPE HTML>
<html lang="en-US">
<head>
<meta charset="UTF-8">
<title>Documentacion</title>
<link rel="stylesheet" type="text/css" href="../static/css/style_documentation.css">
 </head>
<body>
  <p class="title1">Smart_Hours.</p>
  <br>
  <div id="wrapper"><h1>Documentación</h1>
<br>
<p><strong>Integrantes del grupo</strong>: Pau Albiol, David Álvarez, Guillermo Creus.</p>
<p><strong>Mesa</strong>: 4.</p>
<p><strong>Fecha entrega</strong>: 30/05/2018.</p>
<br>
<h2>Índice.</h2>
<ol>
<li>Objetivos.</li>
<li>Alcance.</li>
<li>Análisis del problema y descripción de la solución.</li>
<li>Herramientas e implementación.</li>
<li>Planificación y costes.</li>
<li>Resultados y conclusión.</li>
<li>Bibliografía.</li>
</ol>
<h2>1. Objetivos.</h2>
<p>Creación de un horario de estudio que se adapte a los objetivos académicos del cliente, respetando sus horas ocupadas y mediante el análisis de datos de estudiantes reales de <a href="https://etseib.upc.edu" rel="nofollow">ETSEIB</a> similares a él.</p>
<h2>2. Alcance.</h2>
<h3>Funcionalidades</h3>
<p><a target="_blank" href="../static/images/funcionamiento.png"><img src="../static/images/funcionamiento.png" alt="Diagrama uncionamiento Web" style="max-width:100%;"></a></p>
<p><strong>Smart_Hours</strong> genera un horario y ofrece cuatro tablas y un gráfico que contienen datos de interés enfocados al cliente. Las horas del horario están distribuidas de manera adecuada para que cliente pueda cumplir con sus objetivos académicos. Para crear el horario, el cliente debe interactuar con la web rellenando tres formularios.</p>
<ol>
<li>El primer formulario, consiste en indicar qué horas de la semana (de lunes a viernes, de 9:00 h a 23:00 h) tiene ocupadas el cliente para que no se asignen horas de estudio en dichas horas no disponibles.</li>
<li>En el segundo, éste debe elegir su rendimiento e introducir las asignaturas que quiere en su horario. El parámetro del rendimiento indica “el objetivo”. Hay cuatro opciones a elegir:
<ul>
<li><strong>Mínimo</strong>: Aprobar con 5 las asignaturas elegidas.</li>
<li><strong>Medio</strong>: Mantener la nota media del cliente o aprobar con 5 en caso de que esta media sea de suspenso.</li>
<li><strong>Alto</strong>: Aumentar la nota media en un 10% o aprobar con 5.5 en caso de que esta media sea de suspenso.</li>
<li><strong>Manual</strong>: El cliente puede introducir qué notas quiere para cada asignatura.</li>
</ul>
</li>
<li>En el tercer formulario se pide la nota de selectividad y las diez asignaturas de primero (es el Historial académico del cliente).  Este parámetro permite predecir las notas que va a sacar el cliente y calcular cuán lejos está de sus objetivos.</li>
</ol>
<p>Finalmente se generará el horario y se mostrarán las distintas tablas. Estas son:</p>
<ul>
<li><strong>Fin de semana</strong>: Tabla que indica las horas de estudio a dedicar a cada asignatura durante el fin de semana.</li>
<li><strong>Notas</strong>: Tabla donde de cada asignatura elegida, se da información sobre la nota predicha, la nota deseada (es decir el objetivo) y la media global.</li>
<li><strong>Distribución de horas de estudio</strong>: Gráfico tipo <em>3d-Pie</em> que representa en porcentajes, el tiempo de estudio de cada asignatura (respecto al total de horas de estudio).</li>
<li><strong>Estudiantes con notas más cercanas</strong>: Tabla que compara las notas del Historial académico del cliente con el de los doce estudiantes más cercanos a él.</li>
<li><strong>Notas de las asignaturas matriculadas de los estudiantes más cercanos</strong>: Tabla que compara las notas predichas del cliente frente a las notas de los doce estudiantes más cercanos a él.</li>
</ul>
<h3>Otras funcionalidades (más técnicas)</h3>
<p>El horario no muestra todas las horas si estas están vacías. Es decir, si el cliente estudia a partir de las 18:00 h, el horario no mostrará las horas vacías de 9:00 h a 18:00 h.  Por comodidad, para rellenar los chechboxs en el apartado de selección de Horas ocupadas, es posible clicar y arrastrar con el ratón haciendo menos tedioso este formulario.</p>
<h3>Condiciones y limitaciones</h3>
<p>Como mínimo el cliente debe introducir una nota en el parámetro de Historial académico. Sólo se aceptan caracteres numéricos. En caso de decimales se debe indicar con un punto. (Por ejemplo: 7.5).</p>
<h2>3. Análisis del problema y descripción de la solución.</h2>
<h3>Descripción de los problemas</h3>
<h5>1. Problema del filtrado:</h5>
<p>Se ha partido de tres bases de datos que contenían resultados académicos de estudiantes del ETSEIB. La primera de ellas contenía las notas de selectividad, la segunda las notas de la fase inicial y la tercera las notas de la fase no inicial (hasta Q1 17/18). Debido que no siempre hay los mismos estudiantes, hay más datos de los necesarios y puede que un estudiante tenga múltiples notas de la misma asignatura (puede ser repetidor) se ha procedido a un filtrado de datos.</p>
<h5>2. Problema de predicción:</h5>
<p>Dado que un factor para calcular las horas de estudio es la nota predicha del cliente, obviamente se necesitan realizar predicciones (de una variable numérica continua). Para ello se ha utilizado el método de K-Vecinos más cercanos.</p>
<h5>3. Problema de asignación de horas:</h5>
<p>Una vez predichas las notas, se deben comparar con los objetivos del cliente y traducir a “horas de estudio”.</p>
<h5>4. Problema de selección de <em>checkboxes</em>:</h5>
<p>Al crear la web, uno de los problemas más graves que tuvimos fue la rapidez de la entrada de datos por parte del usuario. Queríamos una web que no fuese complicada de usar y a la vez que no pareciese saturada. Uno de estos problemas fue la selección de las horas ocupadas. Inicialmente, dado un horario semanal, el usuario tenía que ir dando click hora por hora, pero nosotros queríamos una manera más rápida.</p>
<p>Para solucionar este problema, buscamos dos opciones. Crear una función Javascript, que nos permitiese hacer un barrido rápido, o adaptar el checkbox que teníamos, para que pudiese hacer lo mencionado anteriormente. Finalmente, por facilidad de uso, nos decantamos por la segunda solución. La siguiente imagen muestra la solución al problema, usando la función “onmouseover”, que te deja hacer una selección múltiple sin despegar el dedo del botón izquierdo.</p>
<p><a target="_blank" href="../static/images/onmouseover.png"><img src="../static/images/onmouseover.png" alt="Función 'onmouseover'" style="max-width:100%;"></a></p>
<h5>5. Problema de ordenación de horas:</h5>
<p>Obtenidas las horas de estudio para cada asignatura, estas se deben distribuir en un horario de forma ordenada y lógica (evitar problemas del tipo: en un día hay que estudiar 4 horas seguidas de la misma asignatura).</p>
<h3>Solución propuesta (Planteamiento global de funcionamiento)</h3>
<p>El funcionamiento general del código, desde que el usuario introduce el input hasta que el output se genera en pantalla está resumido en el siguiente diagrama.<br>
<br></p>
<p><a target="_blank" href="../static/images/diagram.jpg"><img src="../static/images/diagram.jpg" alt="Diagrama funcionamiento programa" style="max-width:100%;"></a></p>
<h4>Main</h4>
<p>Función principal que controla el programa. El funcionamiento es el siguiente:</p>
<ol>
<li>Convertimos el input que el usuario entra a un input utilizable por el programa (con el script de <strong>entrada</strong>).</li>
<li>Predecimos las notas de las asignaturas que el usuario se ha matriculado (con el script <strong>predictor</strong>).</li>
<li>Obtenemos las notas deseadas de acuerdo con el rendimiento introducido por el usuario (con el script <strong>rendimiento</strong>).</li>
<li>Con los datos obtenidos calculamos las horas de estudio (con el script <strong>horas</strong>).</li>
<li>Generamos el horario de estudio (con el script <strong>generador</strong>).</li>
<li>Imprimimos resultados por la terminal (con el script <strong>terminal</strong>).</li>
<li>Generamos output utilizable por el servidor (con el script <strong>salida</strong>).</li>
</ol>
<h4>Entrada, Salida y Terminal</h4>
<p>Distintas funciones para dar formato al input y al output y para imprimir el output en la terminal.</p>
<h4>Codificador</h4>
<p>Consiste en un codificador y en un descodificador que permiten codificar el nombre de una asignatura con su código (CODAS) y al revés. Los datos se encuentran en 'databases/asignaturas.csv'.</p>
<h4>Vecinos</h4>
<p>Encuentra los alumnos que están más cercanos al usuario (los datos están en 'databases/data.csv'). Para ello, buscamos a los alumnos que tienen una distancia más pequeña al usuario (entendiendo la distancia como las diferencias de las notas elevadas al cuadrado).</p>
<h4>Predictor</h4>
<p>Usando el script de <strong>vecinos</strong> hace una predicción de las notas que el usuario obtendrá en las asignaturas que se ha matriculado. Para ello (para cada asignatura) hacemos una media de las notas que han obtenido los alumnos más cercanos al usuario.<br>
Además, para mejorar la fiabilidad, calculamos la media de la diferencia de notas (con signo) entre usuario y vecinos. De esta manera, este factor corrector lo añadimos a la predicción y podemos dar una predicción más realista (es especialmente útil para notas muy bajas o muy altas, donde nuestra base de datos es escasa).</p>
<h4>Rendimiento</h4>
<p>Calcula notas deseadas de acuerdo con el rendimiento introducido por el usuario:</p>
<ul>
<li><strong>Mínimo</strong>. Aprobar con 5 todas las asignaturas.</li>
<li><strong>Medio</strong>. Mantener nota media del usuario o aprobar con 5 en caso de que su media sea de suspenso.</li>
<li><strong>Alto</strong>. Aumentar nota media del usuario en un 10% o aprobar con 5.5 en caso de que su media sea de suspenso.</li>
<li><strong>Manual</strong>. El usuario ya habrá introducido manualmente las notas que desea.</li>
</ul>
<h4>Horas</h4>
<p>Dadas las notas esperadas (predictor) y las notas deseadas (rendimiento), calcula el número de horas que el usuario debería estudiar por asignatura a la semana. Para ello, usamos como base que cada crédito ECTS (<em>European Credit Transfer and Accumulation System</em>) corresponde a unas 20-25 horas de trabajo por parte del estudiante. Nosotros, descontando el número de horas de trabajo en el aula, hacemos la correspondencia 1 ECTS - 0,8 horas estudio semanales (para una persona media).<br>
Ahora bien, comparando la nota deseada con la esperada (predicha por nuestro programa), ajustamos este número de horas a uno más realista y personalizado para el usuario.</p>
<h4>Generador</h4>
<p>Con las restricciones de horario introducidas por el usuario y con las horas de estudio semanales por asignatura (dadas por script horas), genera un horario de estudio. Distribuyendo las horas entre la semana y también en el fin de semana.</p>
<h2>4. Herramientas e implementación.</h2>
<h3>Herramientas de soft usadas</h3>
<h5>Pandas</h5>
<p>Para el filtrado de datos se ha usado pandas, una librería de Python destinada al análisis de datos que proporciona unas estructuras de datos flexibles y que permiten trabajar con ellos de forma eficiente. Más concretamente se ha trabajado con DataFrame (los datos se estructuran en forma de tablas).</p>
<h5>Flask</h5>
<p>Para crear la aplicación web se ha usado Flask. Flask es un framework minimalista escrito en Python que permite crear aplicaciones web con un mínimo número de líneas de código (basado en el motor de templates Jinja2).</p>
<h5>GitHub</h5>
<p>Para trabajar en equipo de  eficiente se creó un <a href="https://github.com/David-98/Horario">repositorio</a> público en GitHub (<a href="https://github.com/David-98/Horario">https://github.com/David-98/Horario</a>). Github es una plataforma de desarrollo colaborativo para alojar proyectos utilizando el controlador de versiones Git.</p>
<h3>Implementación</h3>
<p>Comentaremos ahora cómo hemos implementado los programas más importantes. El método general usuado está resumido en el apartado 3 en la descripción de la solución.</p>
<h4>1. Implementación del filtrado:</h4>
<p>Se abren los tres ficheros:</p>
<pre><code>    dsele = pd.read_csv('sele.csv')
    dini = pd.read_csv('ini.csv')
    dnoini = pd.read_csv('noini.csv')
</code></pre>
<p>En el fichero de notas de selectividad, se eliminan los datos con código de estudiante repetido (excepto la última nota):</p>
<pre><code>    dsele = dsele.drop_duplicates(['CODEX'],keep='last')
    dsele = dsele.reset_index(drop=True)
</code></pre>
<p>Se eliminan los estudiantes que no estan en la fase inicial y fase no inicial (personas que hayan abandonado la carrera), y también se eliminan las notas de asignaturas repetidas:</p>
<pre><code>     dini = dini[dini['CODEX'].isin(dnoini.CODEX)]
     dini = dini.drop_duplicates(subset=['CODEX','CODASS'],keep = 'first')
     dini = dini.reset_index(drop=True)
     dnoini = dnoini[dnoini['CODEX'].isin(dini.CODEX)]
     dnoini = dnoini.drop_duplicates(subset=['CODEX','CODASS'],keep = 'first')
     dnoini = dnoini.reset_index(drop=True)
</code></pre>
<p>Se procede a combinar los tres ficheros en uno mediante dos pasos:</p>
<pre><code>    dfm = pd.merge(dini, dnoini, how = 'outer')
    dfm = pd.merge(dsele, dfm, on = 'CODEX')
    dfm = dfm.sort_values(by = ['CODEX', 'CODASS'])
</code></pre>
<p>Se ordena el archivo de la forma:</p>
<pre><code>	CODEX	SELE	CODASS	NF
	243050	11.73	240011	6.2
	243050	11.73	240012	7.2
	243050	11.73	240013	6.0
	243050	11.73	240014	3.6
	243050	11.73	240015	8.3
	243050	11.73	240021	8.0
	...     ...     ...     ...
	243124	11.29	240011	5.6
	243124	11.29	240012	7.0
	243124	11.29	240013	5.3
	243124	11.29	240014	5.7
	243124	11.29	240015	7.9
	243124	11.29	240021	6.0
</code></pre>
<p>Se guarda el archivo como data.csv:</p>
<pre><code>    dfm.to_csv('data.csv', encoding='UTF-8', index=False)
</code></pre>
<h4>2. Implementación de la predicción:</h4>
<p>Está dividido en dos ficheros, el que nos encuentra los vecinos más cercanos al usuario y el que se encarga de la predicción.<br>
El script de <strong>vecinos</strong> de lo que se encarga es de calcular las distancias entre el usuario y todos los alumnos de nuestra base de datos (previamente filtrada para quedarnos con los que han cursado las mismas asignaturas que el usuario). Para ellos, hay dos funciones importantes. La primera, la que nos calcula la distancia entre usuario y un alumno concreto.</p>
<pre><code>def distance(row, notas, matrix, sele):
    distance = 0
    for j in range(0, len(notas)):
        ...
	distance += pow(notas[j] - matrix[row][j + 1], 2)
</code></pre>
<p>Si el usuario nos ha proporcioinado la nota de selectividad, la añadimos a la distancia.</p>
<pre><code>if sele &gt;= 0: distance += pow(sele - matrix[row][len(notas) + 1], 2)
</code></pre>
<p>Esto nos permite hallar los vecinos más cercanos al usuario.</p>
<p>Una vez que ya hemos encontrado los vecinos más cercanos, para cada asignatura que el usuario se ha matriculado, obtenemos la media de las notas que han obtenidos los vecinos más cercanos. Esto lo hace el siguiente programa del script <strong>predictor</strong> (<em>matrix</em> es donde tenemos guardada la información de los vecinos).</p>
<pre><code>def predict_grades(nearest, codas, notas, matrix, k, diff, sele):
    ...
    grades = [0]*len(codas)
    for j in range(0, len(codas)):
        ...
        for i in range(0, k):
	    grades[j] += matrix[nearest[i][1]][j + 1]
	    grades[j] /= k
	    grades[j] += diff
	    ...
return grades
</code></pre>
<p>En este programa la variable <em>diff</em> correspondería a una medida de si (de media) los vecinos que hemos encontrado están (en notas) por encima o por debajo del usuario. De esta manera, este factor corrector nos permite hacer una mejor predicción para intervalos de notas en los que tenemos pocos alumnos en nuestras bases de datos (especialmente útil para notas muy pequeñas o muy altas). Esta diferencia se calcula de la siguiente manera:</p>
<pre><code>diff_tot = 0
for i in range(0, k):
   row = nearest[i][1]
   diff = 0
   for j in range(0, len(notas)):
	  ...
	  diff += notas[j] - matrix[row][j + 1]
   diff_tot += diff/l_curs
return diff_tot/k
</code></pre>
<p>Es decir, hacemos una media de las diferencias de notas entre usuario y vecinos (los k más cercanos) para todas las asignaturas.</p>
<h4>3. Implementación de asignación de horas:</h4>
<p>La función "hours main" convierte las notas deseadas en horas de estudio mediante una función exponencial. La función "hours main" devuelve un vector con las horas a estudiar. Como hemos explicado anteriormente (apartado 3) hacemos una aproximación inicial de 1 ECTS - 0,8 horas de estudio semanales.</p>
<pre><code>    def hours_main(notas_des, notas_esp, notas_med, l_des, creds):
      ...
      hours = []
      for i in range(0, l_des):
         hours.append(creds[i]*0.8)
</code></pre>
<p>Evitando el rápido crecimiento de la exponencial, se multiplican las horas a estudiar por un factor que depende de la nota deseada:</p>
<pre><code>    if -notas_des[i] - notas_esp[i] &lt; 2:
        hours[i] *= pow(1.12, 1.7*(-notas_des[i] - notas_esp[i]))
    elif -notas_des[i] - notas_esp[i] &lt; 4:
        hours[i] *= pow(1.12, 1.1*(-notas_des[i] - notas_esp[i]))
    elif -notas_des[i] - notas_esp[i] &lt; 6:
        hours[i] *= pow(1.12, 0.9*(-notas_des[i] - notas_esp[i]))
    else:
        hours[i] *= pow(1.12, 0.7*(-notas_des[i] - notas_esp[i]))
</code></pre>
<p>Se aplican factores de corrección para las notas muy bajas:</p>
<pre><code>    if -notas_des[i] &lt;= 1:
        hours[i] = 0
    elif -notas_des[i] &lt;= 1.5:
        hours[i] *= 0.5
    elif -notas_des[i] &lt;= 2:
        hours[i] *= 0.75
</code></pre>
<p>Se aplica un redondeo a las horas de estudio finales y se impone un máximo de 25 horas semanales:</p>
<pre><code>    hours[i] = int(round(hours[i], 0))
    if hours[i] &gt;= 25:
        hours[i] = 25
</code></pre>
<h4>4. Implementación de ordenación de horas:</h4>
<p>Lo primero que hacemos es hacer una primera asignación de horas de estudio al fin de semana, más concretamente asignamos 2/7 del total de horas de estudio. Después, tratamos de distribuir en bloques de dos horas por asignatura, horas de estudio a lo largo de la semana. Para que queden distribuidas de manera homogénea, lo hacemos siguiendo la siguiente secuencia: Lunes, Miércoles, Viernes, Martes, Jueves.</p>
<pre><code>sec = [0, 2, 4, 1, 3]
j = 0  # Iterador para la secuencia de días.
for asig in range(0, n):
    exit = 0
    while hours[asig] &gt; 1 and exit &lt; 5:
        if j &gt; 4: j = 0
        if put2(asig, sec[j], horario):
            hours[asig] -= 2
            hras_est_dia[sec[j]] += 2
        else: exit += 1
        j += 1
</code></pre>
<p>Por último, tras evitar asignaturas con demasiadas horas en el fin de semana, procedemos a distribuir ahora de 1 hora en 1 hora.</p>
<pre><code>for asig in range(0, n):
    finished = False
    while hours[asig] &gt; 0 and not finished:
        day = next_minimum_uncomplete(horario, hras_est_dia)
        if day == -1: finished = True
        elif put1(asig, day, horario):
            hours[asig] -= 1
            hras_est_dia[day] += 1
</code></pre>
<p>Por último, guardamos las horas de estudio que no han entrado en la semana como horas de fin de semana.</p>
<pre><code>for i in range(0, n):
    finde[i] += hours[i]
</code></pre>
<h2>5. Planificación y costes.</h2>
<p>Para realizar el proyecto de <strong>Smart_Hours</strong>, una de las primeras cosas que se creó fue un plan de ruta cuya planificación abarcaba cerca de dos meses de desarrollo.  Las horas dedicadas en <strong>Smart_Hours</strong> han sido para cada integrante:</p>
<ul>
<li>5 horas de clase de teoría dónde se aprendió sobre el uso de pandas y flask.</li>
<li>Un promedio de 55 horas de autoaprendizaje.</li>
</ul>
<p>Es decir, en total unas 180 horas.</p>
<p>El único coste del proyecto ha sido el consumo energético para alimentar los ordenadores.  Suponiendo que un ordenador usa 100W por 1 hora diaria a 0,12 € el kWh, calculando para un integrante el coste mensual es de 0,43 € al mes. Dado que el proyecto ha durado 2 meses y <strong>Smart_Hours</strong> ha sido desarrollado por 3 integrantes, el coste energético estimado es de 2,6 €.</p>
<h2>6. Resultados y conclusiones.</h2>
<p>Para realizar este proyecto, una buena comunicación y coordinación entre el equipo ha sido imprescindible. La estrategia de haber dividido y planificado el proyecto en pequeños problemas y asignar roles a cada integrante ha resultado muy eficiente. Ha simplificado las cosas pues cada integrante se focalizaba en un problema y en caso de no saber continuar, entre todos se ha buscado una solución o propuesto alternativas para solucionar (o en algún caso evitar) el problema.</p>
<p>Un gran impacto de este proyecto ha sido el de autoaprendizaje pues siempre que aparecía algún inconveniente, en internet se hallaba la solución.</p>
<p>También se han adquirido competencias genéricas sobre la comunicación oral y escrita. Ha habido una clara evolución en cómo se han realizado las presentaciones orales y el estilo de los PDF’s que se proyectaban.</p>
<h2>7. Bibliografía.</h2>
<p><a href="https://stackoverflow.com/" rel="nofollow">https://stackoverflow.com/</a></p>
<p><a href="https://www.w3schools.com/" rel="nofollow">https://www.w3schools.com/</a></p>
<p><a href="https://pandas.pydata.org/pandas-docs/stable/10min.html" rel="nofollow">https://pandas.pydata.org/pandas-docs/stable/10min.html</a></p></div>
</body>
</html>