<!DOCTYPE html>
<html>
  <head>
    <title>Proyecto I - Horario</title>
    <p class = title1>Smart_hours.</p>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
    <link rel="stylesheet" href="//code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css">
    <link rel = "stylesheet" type = "text/css" href = "../static/css/style.css" />
  </head>

  <!-- HEADER OK -->
  <body bgcolor = #F3CA24>

    <!-- APARTADO HORARIO -->
    <link rel="stylesheet" type="text/css" href="../static/css/DPS.css">
    <p class = observations> Smart_hours es un servicio ofrecido por esudiantes de Ingniería Industrial (ETSEIB). Mediante el análisis y predicción </br> de tus notas, montaremos un horario a tu medida, respetando todas tus horas ocupadas.</br></p>
</br>
    <p class = observations2> Porfavor, marca las horas que no puedas estudiar para mejorar tu horario. </p>
</br>
<form action="/deseadas" method="post">
  <table id="timeTable">
    <th></th>
    <th class="titelCell" align="center">09:00</th>
    <th class="titelCell" align="center">10:00</th>
    <th class="titelCell" align="center">11:00</th>
    <th class="titelCell" align="center">12:00</th>
    <th class="titelCell" align="center">13:00</th>
    <th class="titelCell" align="center">14:00</th>
    <th class="titelCell" align="center">15:00</th>
    <th class="titelCell" align="center">16:00</th>
    <th class="titelCell" align="center">17:00</th>
    <th class="titelCell" align="center">18:00</th>
    <th class="titelCell" align="center">19:00</th>
    <th class="titelCell" align="center">20:00</th>
    <th class="titelCell" align="center">21:00</th>
    <th class="titelCell" align="center">22:00</th>
    <th class="titelCell" align="center">23:00</th>

    <tr>
      <th class="dayCell">Lunes</th>
      <td class="ticCell" align="center"><input type="checkbox" name="horario" value="109"></td>
      <td class="ticCell" align="center"><input type="checkbox" name="horario" value="110"></td>      
      <td class="ticCell" align="center"><input type="checkbox" name="horario" value="111"></td>
      <td class="ticCell" align="center"><input type="checkbox" name="horario" value="112"></td>
      <td class="ticCell" align="center"><input type="checkbox" name="horario" value="113"></td>
      <td class="ticCell" align="center"><input type="checkbox" name="horario" value="114"></td>
      <td class="ticCell" align="center"><input type="checkbox" name="horario" value="115"></td>
      <td class="ticCell" align="center"><input type="checkbox" name="horario" value="116"></td>
      <td class="ticCell" align="center"><input type="checkbox" name="horario" value="117"></td>
      <td class="ticCell" align="center"><input type="checkbox" name="horario" value="118"></td>
      <td class="ticCell" align="center"><input type="checkbox" name="horario" value="119"></td>      
      <td class="ticCell" align="center"><input type="checkbox" name="horario" value="120"></td>
      <td class="ticCell" align="center"><input type="checkbox" name="horario" value="121"></td>
      <td class="ticCell" align="center"><input type="checkbox" name="horario" value="122"></td>
      <td class="ticCell" align="center"><input type="checkbox" name="horario" value="123"></td>
    </tr>
    
    <tr>
      <th class="dayCell">Martes</th>
      <td class="ticCell" align="center"><input type="checkbox" name="horario" value="209"></td>
      <td class="ticCell" align="center"><input type="checkbox" name="horario" value="210"></td>      
      <td class="ticCell" align="center"><input type="checkbox" name="horario" value="211"></td>
      <td class="ticCell" align="center"><input type="checkbox" name="horario" value="212"></td>
      <td class="ticCell" align="center"><input type="checkbox" name="horario" value="213"></td>
      <td class="ticCell" align="center"><input type="checkbox" name="horario" value="214"></td>
      <td class="ticCell" align="center"><input type="checkbox" name="horario" value="215"></td>
      <td class="ticCell" align="center"><input type="checkbox" name="horario" value="216"></td>
      <td class="ticCell" align="center"><input type="checkbox" name="horario" value="217"></td>
      <td class="ticCell" align="center"><input type="checkbox" name="horario" value="218"></td>
      <td class="ticCell" align="center"><input type="checkbox" name="horario" value="219"></td>      
      <td class="ticCell" align="center"><input type="checkbox" name="horario" value="220"></td>
      <td class="ticCell" align="center"><input type="checkbox" name="horario" value="221"></td>
      <td class="ticCell" align="center"><input type="checkbox" name="horario" value="222"></td>
      <td class="ticCell" align="center"><input type="checkbox" name="horario" value="223"></td>
    </tr>
    
    <tr>
      <th class="dayCell">Miércoles</th>
      <td class="ticCell" align="center"><input type="checkbox" name="horario" value="309"></td>
      <td class="ticCell" align="center"><input type="checkbox" name="horario" value="310"></td>      
      <td class="ticCell" align="center"><input type="checkbox" name="horario" value="311"></td>
      <td class="ticCell" align="center"><input type="checkbox" name="horario" value="312"></td>
      <td class="ticCell" align="center"><input type="checkbox" name="horario" value="313"></td>
      <td class="ticCell" align="center"><input type="checkbox" name="horario" value="314"></td>
      <td class="ticCell" align="center"><input type="checkbox" name="horario" value="315"></td>
      <td class="ticCell" align="center"><input type="checkbox" name="horario" value="316"></td>
      <td class="ticCell" align="center"><input type="checkbox" name="horario" value="317"></td>
      <td class="ticCell" align="center"><input type="checkbox" name="horario" value="318"></td>
      <td class="ticCell" align="center"><input type="checkbox" name="horario" value="319"></td>      
      <td class="ticCell" align="center"><input type="checkbox" name="horario" value="320"></td>
      <td class="ticCell" align="center"><input type="checkbox" name="horario" value="321"></td>
      <td class="ticCell" align="center"><input type="checkbox" name="horario" value="322"></td>
      <td class="ticCell" align="center"><input type="checkbox" name="horario" value="323"></td>
    </tr>
    
    <tr>
      <th class="dayCell">Jueves</th>
      <td class="ticCell" align="center"><input type="checkbox" name="horario" value="409"></td>
      <td class="ticCell" align="center"><input type="checkbox" name="horario" value="410"></td>      
      <td class="ticCell" align="center"><input type="checkbox" name="horario" value="411"></td>
      <td class="ticCell" align="center"><input type="checkbox" name="horario" value="412"></td>
      <td class="ticCell" align="center"><input type="checkbox" name="horario" value="413"></td>
      <td class="ticCell" align="center"><input type="checkbox" name="horario" value="414"></td>
      <td class="ticCell" align="center"><input type="checkbox" name="horario" value="415"></td>
      <td class="ticCell" align="center"><input type="checkbox" name="horario" value="416"></td>
      <td class="ticCell" align="center"><input type="checkbox" name="horario" value="417"></td>
      <td class="ticCell" align="center"><input type="checkbox" name="horario" value="418"></td>
      <td class="ticCell" align="center"><input type="checkbox" name="horario" value="419"></td>      
      <td class="ticCell" align="center"><input type="checkbox" name="horario" value="420"></td>
      <td class="ticCell" align="center"><input type="checkbox" name="horario" value="421"></td>
      <td class="ticCell" align="center"><input type="checkbox" name="horario" value="422"></td>
      <td class="ticCell" align="center"><input type="checkbox" name="horario" value="423"></td>
    </tr>
    
    <tr>
      <th class="dayCell">Viernes</th>
      <td class="ticCell" align="center"><input type="checkbox" name="horario" value="509"></td>
      <td class="ticCell" align="center"><input type="checkbox" name="horario" value="510"></td>      
      <td class="ticCell" align="center"><input type="checkbox" name="horario" value="511"></td>
      <td class="ticCell" align="center"><input type="checkbox" name="horario" value="512"></td>
      <td class="ticCell" align="center"><input type="checkbox" name="horario" value="513"></td>
      <td class="ticCell" align="center"><input type="checkbox" name="horario" value="514"></td>
      <td class="ticCell" align="center"><input type="checkbox" name="horario" value="515"></td>
      <td class="ticCell" align="center"><input type="checkbox" name="horario" value="516"></td>
      <td class="ticCell" align="center"><input type="checkbox" name="horario" value="517"></td>
      <td class="ticCell" align="center"><input type="checkbox" name="horario" value="518"></td>
      <td class="ticCell" align="center"><input type="checkbox" name="horario" value="519"></td>      
      <td class="ticCell" align="center"><input type="checkbox" name="horario" value="520"></td>
      <td class="ticCell" align="center"><input type="checkbox" name="horario" value="521"></td>
      <td class="ticCell" align="center"><input type="checkbox" name="horario" value="522"></td>
      <td class="ticCell" align="center"><input type="checkbox" name="horario" value="523"></td>
    </tr>
  </table>
  
  <br/>
  <div class="wrapper">
    <button type="submit"> SIGUIENTE PÁGINA </button>
  </div>
</form>

<script src="https://code.jquery.com/jquery-1.12.4.js"></script>
<script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>
<script src="../static/javascript/jquery.min.js"></script>
<script src="../static/javascript/horario.js"></script>
  </body>
</html>
