<!DOCTYPE html>
<html>
  <head>
    <title>Proyecto I - Horario</title>
    <p class = title1>Smart_hours.</p>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
    <link rel="stylesheet" href="//code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css">
    <link rel = "stylesheet" type = "text/css" href = "../static/style.css" />
  </head>
<body bgcolor = #F3CA24>

							VECINOS MÁS CERCANOS

<table>
<tr>
<th>CODEX </th>
<th>Álgeb </th>
<th>Cálcu </th>
<th>Mecán </th>
<th>DISTA </th>
</tr>
<tr>
<th> </th>
<th> </th>
<th> </th>
<th> </th>
<th> </th>
</tr>
<tr>
<th>TÚ </th>
<th>-5 </th>
<th>-5 </th>
<th>-5 </th>
<th>diff = 0 </th>
</tr>
<tr>
<th> </th>
<th> </th>
<th> </th>
<th> </th>
<th> </th>
</tr>
<tr>
<th>243050 </th>
<th>6.2 </th>
<th>7.2 </th>
<th>6.0 </th>
<th>0 </th>
</tr>
<tr>
<th>243124 </th>
<th>5.6 </th>
<th>7.0 </th>
<th>5.3 </th>
<th>0 </th>
</tr>
<tr>
<th>243136 </th>
<th>5.0 </th>
<th>6.2 </th>
<th>5.2 </th>
<th>0 </th>
</tr>
<tr>
<th>243182 </th>
<th>6.1 </th>
<th>7.8 </th>
<th>7.3 </th>
<th>0 </th>
</tr>
<tr>
<th>243205 </th>
<th>7.1 </th>
<th>7.7 </th>
<th>6.5 </th>
<th>0 </th>
</tr>
<tr>
<th>243241 </th>
<th>6.9 </th>
<th>6.5 </th>
<th>5.6 </th>
<th>0 </th>
</tr>
<tr>
<th>243262 </th>
<th>6.5 </th>
<th>6.8 </th>
<th>6.2 </th>
<th>0 </th>
</tr>
<tr>
<th>243368 </th>
<th>6.4 </th>
<th>6.7 </th>
<th>5.8 </th>
<th>0 </th>
</tr>
<tr>
<th>243436 </th>
<th>6.6 </th>
<th>7.0 </th>
<th>7.0 </th>
<th>0 </th>
</tr>
<tr>
<th>243454 </th>
<th>5.7 </th>
<th>5.8 </th>
<th>5.4 </th>
<th>0 </th>
</tr>
<tr>
<th>243536 </th>
<th>5.8 </th>
<th>5.7 </th>
<th>5.0 </th>
<th>0 </th>
</tr>
<tr>
<th>243538 </th>
<th>6.0 </th>
<th>4.2 </th>
<th>5.3 </th>
<th>0 </th>
</tr>
</table>


							EJECUCIÓN DEL PROGRAMA

<table>
<tr>
<th>ASIGNATURA </th>
<th>NOTA ESPERADA </th>
<th>NOTA DESEADA </th>
<th>NOTA MEDIA </th>
<th>CRÉDITOS </th>
<th>HORAS </th>
</tr>
<tr>
<th> </th>
<th> </th>
<th>rend = -1 </th>
<th> </th>
<th> </th>
<th> </th>
</tr>
<tr>
<th>Álgebra Lineal </th>
<th>6.16 </th>
<th>5 </th>
<th>6.01 </th>
<th>6.0 </th>
<th>4 </th>
</tr>
<tr>
<th>Cálculo I </th>
<th>6.55 </th>
<th>5 </th>
<th>5.95 </th>
<th>6.0 </th>
<th>4 </th>
</tr>
<tr>
<th>Mecánica Fundamental </th>
<th>5.88 </th>
<th>5 </th>
<th>5.73 </th>
<th>6.0 </th>
<th>4 </th>
</tr>
</table>


							HORARIO DE ESTUDIO

<table>
<tr>
<th>LUNES </th>
<th>MARTES </th>
<th>MIÉRCOLES </th>
<th>JUEVES </th>
<th>VIERNES </th>
</tr>
<tr>
<th> </th>
<th> </th>
<th> </th>
<th> </th>
<th> </th>
</tr>
<tr>
<th>----------------- </th>
<th>Álgebra Lineal </th>
<th>----------------- </th>
<th>----------------- </th>
<th>----------------- </th>
</tr>
<tr>
<th>Cálculo I </th>
<th>Álgebra Lineal </th>
<th>Mecánica Fundamental </th>
<th>Álgebra Lineal </th>
<th> </th>
</tr>
<tr>
<th>Cálculo I </th>
<th>----------------- </th>
<th>Mecánica Fundamental </th>
<th>Álgebra Lineal </th>
<th>----------------- </th>
</tr>
<tr>
<th>----------------- </th>
<th>----------------- </th>
<th>----------------- </th>
<th> </th>
<th>----------------- </th>
</tr>
<tr>
<th> </th>
<th>----------------- </th>
<th>----------------- </th>
<th>----------------- </th>
<th>Mecánica Fundamental </th>
</tr>
<tr>
<th> </th>
<th> </th>
<th> </th>
<th> </th>
<th>Mecánica Fundamental </th>
</tr>
<tr>
<th>----------------- </th>
<th> </th>
<th>----------------- </th>
<th>----------------- </th>
<th>----------------- </th>
</tr>
<tr>
<th> </th>
<th> </th>
<th> </th>
<th> </th>
<th> </th>
</tr>
<tr>
<th> </th>
<th>----------------- </th>
<th> </th>
<th> </th>
<th>----------------- </th>
</tr>
<tr>
<th>----------------- </th>
<th>----------------- </th>
<th>----------------- </th>
<th> </th>
<th>----------------- </th>
</tr>
<tr>
<th> </th>
<th>----------------- </th>
<th>----------------- </th>
<th>----------------- </th>
<th> </th>
</tr>
<tr>
<th> </th>
<th> </th>
<th> </th>
<th> </th>
<th> </th>
</tr>
<tr>
<th>----------------- </th>
<th> </th>
<th>----------------- </th>
<th>----------------- </th>
<th>----------------- </th>
</tr>
<tr>
<th> </th>
<th> </th>
<th> </th>
<th> </th>
<th> </th>
</tr>
<tr>
<th> </th>
<th>----------------- </th>
<th> </th>
<th> </th>
<th>----------------- </th>
</tr>
</table>


							FIN DE SEMANA: 

<table>
<tr>
<th>ASIGNATURA </th>
<th>HORAS </th>
</tr>
<tr>
<th> </th>
<th> </th>
</tr>
<tr>
<th>Álgebra Lineal </th>
<th>0 </th>
</tr>
<tr>
<th>Cálculo I </th>
<th>2 </th>
</tr>
<tr>
<th>Mecánica Fundamental </th>
<th>0 </th>
</tr>
</table>

<table>
<tr>
<th>DISTRIBUCIÓN DE HORAS: </th>
<th> </th>
</tr>
<tr>
<th> </th>
<th> </th>
</tr>
<tr>
<th>Semana: </th>
<th>10 </th>
</tr>
<tr>
<th>Fin de semana: </th>
<th>2 </th>
</tr>
<tr>
<th>Total: </th>
<th>12 </th>
</tr>
</table>\</body>